@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  list-style: none;

  font-family: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-family: "Roboto Condensed", sans-serif;

  color: $secondary-color;

  background-color: #f55151;
}

body.ligth .calculator,
body.ligth .display .display-info,
body.ligth .display .display-result,
body.ligth .buttons-container input {
  background-color: $secondary-color;
  color: $primary-dark;
}

body.ligth .toggle-theme label {
  background-color: $primary-dark;
}

body.ligth .buttons-container input,
body.ligth .buttons-container .operation {
  &:hover {
    background-color: $secondary-color;
  }
  &:active {
    background-color: $primary-ligth;
    color: $secondary-color;
  }
}
